.recent-news {
  padding: 100px 0 120px;
  background-color: var(--light-color);

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 255px);
    gap: var(--grid-gap);
    margin-bottom: 81px;
  }

  &__item {
    grid-column: 5 span;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
    }
  }
}

.recent-article {
  overflow: hidden;
  height: 100%;
  background-color: var(--light-color);
  border-radius: 4px;
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 4px 4px -4px rgba(30, 33, 44, 0.03);

  &--small {
    .recent-article {

      &__text {
        padding-top: 15px;
      }

      &__title {
        margin-bottom: 10px;
      }

      &__descr {
        display: none;
      }
    }

  }

  &__image {
    display: block;
  }

  &__text {
    padding: 22px 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
  }

  &__title-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--ebony-color);
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid var(--accent-color);
    }

    &:hover {
      color: var(--accent-color);
    }

    &:active {
      color: var(--accent-color);
    }
  }

  &__meta {
    margin-bottom: 16px;
  }

  &__descr {
    margin: 0;
    font-size: 16px;
    line-height: 160%;
    color: var(--maco-color);
  }
}


.article-meta {
  font-size: 14px;
  line-height: 150%;
  color: var(--text-color);

  &__item {
    position: relative;
    color: inherit;
    transition: color 0.3s ease-in-out;

    &:not(:last-child) {
      margin-right: 23px;

      &:after {
        content: '';
        position: absolute;
        top: 3px;
        right: -10px;
        width: 1px;
        height: 11px;
        color: inherit;
        background-color: currentColor;

      }
    }

    &--comments {
      padding-left: 20px;
      background-image: url("../img/comments-icon.svg");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px 16px;
    }


  }


}

a.article-meta__item {

  &:focus {
    outline: 2px solid var(--accent-color);
  }

  &:hover {
    color: var(--accent-color);
  }

  &:active {
    color: var(--accent-color);
  }
}
