<section class="about-partners">
  <div class="container">
    <h2 class="about-partners__title title title--center">
      Our partners
    </h2>
    <p class="descr descr--center">
      We are supported by 12+ industry bodies and media partners
    </p>


    <ul class="list-reset about-partners__list">
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/indepth-logo.png" alt="InDepth Consulting company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/higer-logo.png" alt="Higer Fit company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/sentinal-logo.png"
            alt="Sentinal consulting company logo" width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/happyhome-logo.png" alt="Happy home company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/forsale-logo.png" alt="For sale company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/sunset-logo.png" alt="Sunset realty company logo"
            width="120" height="64">
        </a>
      </li>

      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/atlantis-logo.png"
            alt="InDepth Consulting company logo" width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/delmar-logo.png" alt="Higer Fit company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/complete-logo.png"
            alt="Sentinal consulting company logo" width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/national-logo.png" alt="Happy home company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/ultimate-logo.png" alt="For sale company logo"
            width="120" height="64">
        </a>
      </li>
      <li class="about-partners__item">
        <a class="about-partners__link partners__link" href="#">
          <img class="about-partners__logo" src="../img/partners/united-logo.png" alt="Sunset realty company logo"
            width="120" height="64">
        </a>
      </li>
    </ul>
  </div>
</section>
