<section class="benefits section-offset">
  <div class="container">
    <h2 class="title title--center">
      Employee benefits
    </h2>
    <p class="descr descr--center">
      There’s always room for talent.
    </p>

    <ul class="list-reset benefits__list">
      <li class="benefits__item benefits__item--quality">
        <h3 class="benefits__subtitle">
          Training
        </h3>
        <p class="benefits__descr">
          Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
        </p>
      </li>
      <li class="benefits__item benefits__item--safety">
        <h3 class="benefits__subtitle">
          Professional Growth
        </h3>
        <p class="benefits__descr">
          Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
        </p>
      </li>
      <li class="benefits__item benefits__item--comfort">
        <h3 class="benefits__subtitle">
          Growing Salary
        </h3>
        <p class="benefits__descr">
          Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
        </p>
      </li>
    </ul>

  </div>
</section>