<section class="clients">
  <div class="container">
    <h2 class="clients__title title title--center">
      Our clients
    </h2>
    <ul class="list-reset clients__list">
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img class="clients__logo" src="../img/partners/indepth-logo.png" alt="InDepth Consulting company logo" width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img class="clients__logo" src="../img/partners/higer-logo.png" alt="Higer Fit company logo" width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img class="clients__logo" src="../img/partners/sentinal-logo.png" alt="Sentinal consulting company logo" width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img class="clients__logo" src="../img/partners/happyhome-logo.png" alt="Happy home company logo" width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img class="clients__logo" src="../img/partners/forsale-logo.png" alt="For sale company logo" width="120" height="64">
        </a>
      </li>
      <li class="clients__item">
        <a class="clients__link" href="#">
          <img class="clients__logo" src="../img/partners/sunset-logo.png" alt="Sunset realty company logo" width="120" height="64">
        </a>
      </li>
    </ul>
  </div>
</section>