<section class="contacts section-offset">
  <div class=" container">
    <h2 class="title title--center">
      Contact us
    </h2>
    <p class="descr descr--center">
      Please complete the form. Detailed information will help us to make a tuned offer.
    </p>

    <div class="contacts__content">
      <img class="contacts__image" src="img/contacts-image.jpg" alt="" aria-hidden="true">

      <form action="#" class="form-contacts">
        <div class="form-contacts__line">
          <label class="form-contacts__field field-form field-form--gray">
            <span class="field-form__caption">Name*</span>
            <input class="field-form__input" type="text" name="name" placeholder="Your name" required>
          </label>

          <label class="form-contacts__field field-form field-form--gray">
            <span class="field-form__caption">I am interested in</span>
            <select class="field-form__select" name="interested">
              <option value="">Choose interested</option>
              <option value="Interior_Design">Interior Design</option>
            </select>
          </label>
        </div>

        <div class="form-contacts__line">
          <label class="form-contacts__field field-form field-form--gray">
            <span class="field-form__caption">Phone*</span>
            <input class="field-form__input" type="tel" name="phone" placeholder="Your phone number" required>
          </label>

          <label class="form-contacts__field field-form field-form--gray">
            <span class="field-form__caption">Location*</span>
            <select class="field-form__select" name="location*" required>
              <option value="">Choose location</option>
              <option value="New_York">New York</option>
            </select>
          </label>
        </div>

        <div class="form-contacts__line">
          <label class="form-contacts__field field-form field-form--gray">
            <span class="field-form__caption">Email</span>
            <input class="field-form__input" type="tel" name="phone" placeholder="Your working email">
          </label>

          <fieldset class="form-contacts__fields field-form ">
            <legend class="field-form__caption">Preferred contact method</legend>
            <div class="field-form__flex">
              <label class="custom-radio form-contacts__radio">
                <input class="custom-radio__input" type="radio" value="Phone" name="contact_method">
                <span class="custom-radio__text">
                  Phone
                </span>
              </label>
              <label class="custom-radio form-contacts__radio">
                <input class="custom-radio__input" type="radio" value="Email" name="contact_method">
                <span class="custom-radio__text">
                  Email
                </span>
              </label>
              <label class="custom-radio form-contacts__radio">
                <input class="custom-radio__input" type="radio" value="Viber" name="contact_method">
                <span class="custom-radio__text">
                  Viber
                </span>
              </label>
            </div>

          </fieldset>
        </div>


        <label class="field-form field-form--gray form-contacts__field form-contacts__field--big">
          <span class="field-form__caption">Message*</span>
          <textarea class="field-form__input field-form__input--big" name="message" placeholder="Your message">
            </textarea>
        </label>
        <div class="form-contacts__bottom">
          <label class="custom-checkbox form-contacts__checkbox">
            <input class=" custom-checkbox__input" type="checkbox">
            <span class="custom-checkbox__text">
              I agree to receive communications from Createx Construction Bureau.
            </span>
          </label>

          <button class="btn-reset form-contacts__btn btn btn--fill" type="submit">send request</button>

        </div>
      </form>
    </div>
  </div>
</section>
