<section class="contacts-section">
  <div class="container contacts-section__container">
    <h2 class="sr-only">Contacts</h2>

    <form class="contacts-section__form contacts-form">
      <h3 class="contacts-form__title">
        A quick way to discuss details
      </h3>

      <label class="field-form field-form--gray contacts-form__field">
        <span class="field-form__caption">Name*</span>
        <input class="field-form__input" type="text" name="name" placeholder="Your name">
      </label>

      <label class="field-form field-form--gray contacts-form__field">
        <span class="field-form__caption">Phone*</span>
        <input class="field-form__input" type="phone" name="phone" placeholder="Your phone number">
      </label>

      <label class="field-form field-form--gray contacts-form__field">
        <span class="field-form__caption">Email</span>
        <input class="field-form__input" type="email" name="email" placeholder="Your working email">
      </label>

      <label class="field-form field-form--gray contacts-form__field">
        <span class="field-form__caption">Message*</span>
        <textarea class="field-form__input field-form__input--big" name="message" placeholder="Your message">
          </textarea>
      </label>

      <label class="custom-checkbox contacts-form__checkbox">
        <input class=" custom-checkbox__input" type="checkbox">
        <span class="custom-checkbox__text">
          I agree to receive communications from Createx Construction Bureau.
        </span>
      </label>

      <div class="centered">
        <button class="btn-reset contacts-form__btn btn btn--fill" type="submit">send request</button>
      </div>

    </form>
  </div>
</section>