<section class="facts">
  <div class="container">
    <h2 class="facts__title title title--center">
      Some facts and figures
    </h2>

    <ul class="list-reset facts__list">

      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle">

            <svg class="progress" viewBox="-10 -10 320 320">
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" />
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" stroke-dasharray="800 124" stroke-linecap="round" />
            </svg>
            <div class="facts-element__value">
              98%
            </div>
          </div>
          <span class="facts-element__text">
            Totally satisfied clients
          </span>
        </div>
      </li>

      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle">

            <svg class="progress progress--red" viewBox="-10 -10 320 320">
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" />
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" stroke-dasharray="700 224" stroke-linecap="round" />
            </svg>
            <div class="facts-element__value">
              20
            </div>
          </div>
          <span class="facts-element__text">
            Years of experience
          </span>
        </div>
      </li>

      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle">

            <svg class="progress progress--blue" viewBox="-10 -10 320 320">
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" />
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" stroke-dasharray="750 174" stroke-linecap="round" />
            </svg>
            <div class="facts-element__value">
              9452
            </div>
          </div>
          <span class="facts-element__text">
            Working hours spent
          </span>
        </div>
      </li>

      <li class="facts__item">
        <div class="facts-element">
          <div class="facts-element__circle">

            <svg class="progress progress--green" viewBox="-10 -10 320 320">
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" />
              <circle cx="148" cy="148" r="148" fill="none" stroke-width="18" stroke-dasharray="800 124" stroke-linecap="round" />
            </svg>
            <div class="facts-element__value">
              100%
            </div>
          </div>
          <span class="facts-element__text">
            Succeeded projects
          </span>
        </div>
      </li>
    </ul>
  </div>
</section>