<form class="post-form">
  <h2 class="title title--center post-form__title">
    Leave your comment
  </h2>
  <div class="post-form__content">

    <label class="post-form__field field-form field-form--gray">
      <span class="field-form__caption">Name</span>
      <input class="field-form__input" type="text" name="name" placeholder="Your name" required>
    </label>

    <label class="post-form__field field-form field-form--gray">
      <span class="field-form__caption">Email*</span>
      <input class="field-form__input" type="email" name="email" placeholder="Your working email" required>
    </label>

    <label class="post-form__field field-form field-form--gray post-form__field--big">
      <span class="field-form__caption">Your comment*</span>
      <textarea class="field-form__input" type="text" name="message" placeholder="Type comment here" required>
      </textarea>
    </label>

    <div class="centered">
      <button class="btn-reset post-form__btn btn btn--fill">Post comment</button>
    </div>

  </div>
</form>
